Django==6.0.6
python-dotenv==1.2.1 # Carica SECRET_KEY e altre variabili da .env

#Questi due sono installati di default con Django (quindi si potrebbe tranquillamente omettere di scriverli qui)
asgiref==3.11.1 # Asynchronous Server Gateway Interface
sqlparse==0.5.5 # SQL parser
